
<div class="">
    <div class="col-md-12">
        <div id="fdvooter">
            <h1> Raviguideind.com</h1>
            <div>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
                <span>+91 8130860059</span><br>
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
                <span>singhravi74936&#64;gmail.com</span><br>
            </div>
        </div>
        <br>
    </div>
</div>
