#fdvooter{
    width: 100%;
    height: 120px;
    background-color: rgb(59, 62, 65);
    color: white;
    align-items: center;
    align-content: center;
    text-align: center;

    span{
        color: white;
    }

}