

<mat-list role="list">
    <mat-list-item role="listitem">Nature</mat-list-item>
    <mat-list-item role="listitem">Forest</mat-list-item>
    <mat-list-item role="listitem">Mountains</mat-list-item>
    <mat-list-item role="listitem">National Parks</mat-list-item>
    <mat-list-item role="listitem">Desert</mat-list-item>
    <mat-list-item role="listitem">Snow</mat-list-item>
    <mat-list-item role="listitem">Nature</mat-list-item>
    <mat-list-item role="listitem">Forest</mat-list-item>
    <mat-list-item role="listitem">Mountains</mat-list-item>
    <mat-list-item role="listitem">National Parks</mat-list-item>
    <mat-list-item role="listitem">Desert</mat-list-item>
    <mat-list-item role="listitem">Snow</mat-list-item>
    <mat-list-item role="listitem">Forest</mat-list-item>
    <mat-list-item role="listitem">Mountains</mat-list-item>
    <mat-list-item role="listitem">National Parks</mat-list-item>
    <mat-list-item role="listitem">Desert</mat-list-item>
    <mat-list-item role="listitem">Snow</mat-list-item>
  </mat-list>
