<!-- <p>
  <mat-toolbar color="primary">    
    <span>My App</span>   
    <button mat-button [matMenuTriggerFor]="belowMenu" class="">Below</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p> -->

<div class="navbar">
  <a routerLink="#" style="font-size: 22px; color:orange; font-family: 'Times New Roman', Times, serif;">IndiaTourWithRavi</a> 
  <a routerLink="/home">Home</a> 
  <div class="dropdown">
    <button class="dropbtn">Destination <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">      
      <div class="row">
        <div class="column">         
          <a routerLink="/rajasthan">Rajasthan</a>
          <a routerLink="/himachal">Himachal Pradesh</a>
          <a routerLink="/uttarakhand">Uttarakhand</a>
          <a routerLink="/delhi">Delhi</a>
          <a routerLink="/jk">Jammu & Kashmir</a>
        </div>      
      </div>
    </div>
  </div> 

  <a routerLink="/packages" class="menulink">Packages</a> 
  <a routerLink="/hotels" class="menulink">Hotels</a>
  <!-- <a routerLink="/home" class="menulink">About Us</a>   -->

  <!-- <div class="dropdown">
    <button class="dropbtn">South India
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">        
      <div class="row">       
        <div class="column">        
          <a routerLink="/kerala">Kerala</a>
          <a routerLink="/karnataka">Karnataka</a>
          <a routerLink="/tamilnadu">Tamil Nadu</a>
          <a routerLink="/rajasthan">Andhra Pradesh</a>          
       </div>       
      </div>
    </div>
  </div>  -->
  <!-- <div class="dropdown">
    <button class="dropbtn">East India
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">      
      <div class="row">       
        <div class="column">         
          <a routerLink="/sikkim">Sikkim</a>
          <a routerLink="/assam">Assam</a>
          <a routerLink="/nagaland">Nagaland</a>
         <a routerLink="/rajasthan">Tripura</a>          
        </div>       
      </div>
    </div>
  </div>  -->
  <!-- <div class="dropdown">
    <button class="dropbtn">West India
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">      
      <div class="row">
        <div class="column">           
            <a routerLink="/gujarat">Gujarat</a>
            <a routerLink="/maharastra">Maharashtra</a>
            <a routerLink="/goa">Goa</a>
          </div>
      </div>
    </div>
  </div>  
  <div class="dropdown">
    <button class="dropbtn">More..
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">      
      <div class="row">
        <div class="column">           
            <a routerLink="/gujarat">Nature</a>
            <a routerLink="/maharastra">Forest</a>
            <a routerLink="/goa">NationalParks</a>
            <a routerLink="/gujarat">Beaches</a>
            <a routerLink="/maharastra">Snow</a>
            <a routerLink="/goa">Desert</a>
          </div>
      </div>
    </div>
  </div> -->
  <div class="contact">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
    <p>+91 8130860059</p>
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="email"></mat-icon>
    <p>singhravi74936&#64;gmail.com</p>
  </div>
  
</div>

 
