<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <h1>Uttrakhand</h1>
            <hr>
            <div class="">
                <div class="" *ngFor="let item of data">
                    <div>
                        <div class="dataimg">
                            <div>
                                <H3>{{item.locationName}}</H3>                 
                                <ngx-slick-carousel class="carousel" 
                                    #slickModal="slick-carousel" 
                                    [config]="slideConfig" >
                                    <div ngxSlickItem *ngFor="let chileitem of item.childImage" class="slide">
                                    <p>{{chileitem.locationName}}</p>
                                    <img src="{{chileitem.imgSrc}}" alt="" width="100%" height="550px">
                                    <p class="locatinDesc">{{chileitem.locationDescription}}</p>
                                    </div>
                                    </ngx-slick-carousel>                       
                            </div>
                            <p>{{item.locationDescription}}</p>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>
</div>



