<div class="container-fluid">
    <h1>Other Popular Destinations</h1>
    <div class="row">
        
        <div class="col-md-2">
            <a routerLink="/jk"><img src="../../assets/images/cities/Dallake.webp" class="imgcrcl">Dallake</a>
           
        </div>
        <div class="col-md-2">
            <a routerLink="/goa"><img src="../../assets/images/cities/Goa.webp" class="imgcrcl">Goa</a>           
        </div>
        <div class="col-md-2">
            <a routerLink="/jk"><img src="../../assets/images/cities/Gulmarge.webp" class="imgcrcl">Gulmarge</a>           
        </div>
        <div class="col-md-2">
            <a routerLink="/himachal"><img src="../../assets/images/cities/Manali.webp" class="imgcrcl">Manali</a>
        </div>
        <div class="col-md-2">
            <a routerLink="/delhi"><img src="../../assets/images/delhi/akshardham2.jpg" class="imgcrcl">Delhi</a>
        </div>
        <div class="col-md-2">
            <a><img src="../../assets/images/tajmahal.jpeg" class="imgcrcl">Aagra</a>
        </div>
    </div> 
    <!-- <div class="row">
        <div class="col-md-3">
            <a><img src="../../assets/images/delhi/akshardham2.jpg" class="imgcrcl"></a>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>  -->
</div>  