<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="vd-item">
            <video class="img-fluid"  autoplay loop muted height="500px" width="100%">
              <source src="../../assets/videos/tuktuk.mp4" type="video/mp4" />
            </video>
            <div class="vd-item-text">
              <h1>Delhi</h1>
              <p>Delhi Tour with Tuk -Tuk</p>
            </div>
          
          </div>         
          <hr>
          <div class="vd-item">
            <video class="img-fluid"  autoplay loop muted height="500px" width="100%">
              <source src="../../assets/videos/goa.mp4" type="video/mp4"/>
            </video>
            <div class="vd-item-text">
              <b>Goa</b>
              <p></p>
            </div>
            
          </div>        
          <hr>
          <div class="vd-item">
            <video class="img-fluid" autoplay loop muted  height="500px" width="100%">
              <source src="../../assets/videos/dallake.mp4" type="video/mp4" />
            </video>
            <div class="vd-item-text">
              <h1>Dal-Lake</h1>
              <p>Dal-Lake-Kashmir</p>
            </div>
          
          </div>
          
          <hr>
          <div class="vd-item">
            <video class="img-fluid" autoplay loop muted height="500px" width="100%">
              <source
                src="https://mdbcdn.b-cdn.net/img/video/Agua-natural.mp4"
                type="video/mp4"/>
            </video>
            <div class="vd-item-text">
              <h1>Nature</h1>
              
            </div>
          </div>
        
          <hr>
        </div>
        

       
 
    </div>
  </div>