
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <h1>Goa</h1>
            <div class="" *ngFor="let item of rjdata">
                <div>
                    <div class="dataimg">
                        <div class="">
                            <H2>{{item.locationName}}</H2>
                        </div>
                        <div>
                            <hr>                  
                            <ngx-slick-carousel class="carousel" 
                                #slickModal="slick-carousel" 
                                [config]="slideConfig" >
                                <div ngxSlickItem *ngFor="let chileitem of item.childImage" class="slide">
                                <p>{{chileitem.locationName}}</p>
                                <img src="{{chileitem.imgSrc}}" alt="" width="100%" height="550px">
                                <p>{{chileitem.locationDescription}}</p>
                                </div>
                                </ngx-slick-carousel>                       
                        </div>
                        <p>{{item.locationDescription}}</p>
                    </div>
                </div>
                </div>
        </div>
        <div class="col-md-1">

        </div>
    </div>
    
</div>



