// .adv{
//     margin-top: 50px;
// }
.rgstr {
    position: fixed;
    transform: rotate(-90deg);
    right: -85px;
    width: 200px;
    height: auto;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 9999999;
    bottom: 30%;
    background: rgb(66, 165, 29);
    color: #FFFFFF !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}
.btn {
    color: #FFF !important;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    font-family: Arial;
    padding: 10px;
}
