<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <gallery [items]="images"></gallery>
      </div>
    </div>
    <hr>
    <div class="row">
     <div class="col-md-12">
      <h1>Destinations in India</h1>
     </div>
      <div class="col-md-4" >
        <mat-card class="card card-chart">
          <mat-card-header>
            <mat-card-title>Delhi</mat-card-title>
            <mat-card-subtitle>Akshardham Temple
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="room icon"></mat-icon>
              <!-- <a href="https://maps.google.com/?addr='28.612894','77.22944'" target="_blank">
              
              </a>-->
            </mat-card-subtitle> 
            
          </mat-card-header>
          <img mat-card-image src="../../assets/images/delhi/akshardham2.jpg" height="350px">
          <mat-card-content>
            <p>
              Swaminarayan Akshardham in New Delhi epitomizes 10,000 years of Indian culture in all its breathtaking grandeur, beauty, wisdom an d bliss.
               It brilliantly showcases the essence of India’s ancient architecture, traditions and timeless spiritual messages.
            </p>
          </mat-card-content>      
            <div class="btnaction">        
              <a routerLink="/delhi">Details ...</a>
            </div>
        </mat-card>  
      </div>
      <div class="col-md-4" >
        <mat-card class="card card-chart">
          <mat-card-header>
            <mat-card-title>Rajasthan</mat-card-title>
            <mat-card-subtitle>Hawa Mahal
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="room icon"></mat-icon>
              <!-- <a href="https://maps.google.com/?addr='28.612894','77.22944'" target="_blank">
              
              </a>-->
            </mat-card-subtitle> 
            
          </mat-card-header>
          <img mat-card-image src="../../assets/images/rajasthan/hawamahal.jpeg" height="350px">
          <mat-card-content>
            <p>
              The Hawa Mahal is a palace in the city of Jaipur, Rajasthan, India.
               Built from red and pink sandstone, it is on the edge of the City Palace, Jaipur, and extends to the Zenana, or women's chambers.
            </p>
          </mat-card-content>      
            <div class="btnaction">        
              <a routerLink="/rajasthan">Details ...</a>
            </div>
        </mat-card>  
      </div>
      <div class="col-md-4" >
        <mat-card class="card card-chart">
          <mat-card-header>
            <mat-card-title>Goa</mat-card-title>
            <mat-card-subtitle>Goa
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="room icon"></mat-icon>
              <!-- <a href="https://maps.google.com/?addr='28.612894','77.22944'" target="_blank">
              
              </a>-->
            </mat-card-subtitle> 
            
          </mat-card-header>
          <img mat-card-image src="../../assets/images/goa/goa.jpg" height="350px">
          <mat-card-content>
            <p>
              Goa is a state on the southwestern coast of India within the Konkan region, geographically separated from the Deccan highlands by the Western Ghats.
            </p>
          </mat-card-content>      
            <div class="btnaction">        
              <a routerLink="/goa">Details ...</a>
            </div>
        </mat-card>  
      </div>
      <div class="col-md-4" >
        <mat-card class="card card-chart">
          <mat-card-header>
            <mat-card-title>Jammu & Kashmir</mat-card-title>
            <mat-card-subtitle>Dal Lake
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="room icon"></mat-icon>
              <!-- <a href="https://maps.google.com/?addr='28.612894','77.22944'" target="_blank">
              
              </a>-->
            </mat-card-subtitle> 
            
          </mat-card-header>
          <img mat-card-image src="../../assets/images/jk/dallake2.jpeg" height="350px">
          <mat-card-content>
            <p>
              Dal is a lake in Srinagar (Dal Lake is a misnomer as Dal in Kashmiri means lake), the summer capital of Jammu and Kashmir. The urban lake, is integral to tourism and recreation in Kashmir and is named the “Jewel in the crown of Kashmir” or “Srinagar’s Jewel”.
            </p>
          </mat-card-content>      
            <div class="btnaction">        
              <a routerLink="/jk">Details ...</a>
            </div>
        </mat-card>  
      </div>
      <div class="col-md-4" >
        <mat-card class="card card-chart">
          <mat-card-header>
            <mat-card-title>Uttrakhand</mat-card-title>
            <mat-card-subtitle>Rishikesh
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="room icon"></mat-icon>
              <!-- <a href="https://maps.google.com/?addr='28.612894','77.22944'" target="_blank">
              
              </a>-->
            </mat-card-subtitle> 
            
          </mat-card-header>
          <img mat-card-image src="../../assets/images/UK/Rishikesh1.jpeg" height="350px">
          <mat-card-content>
            <p>
              Rishikesh is also known for its connection with The Beatles. In February 1968, members of the legendary English rock band visited Maharishi Mahesh Yogi's ashram (now popularly known as the Beatles Ashram) to learn transcendental meditatio.
            </p>
          </mat-card-content>      
            <div class="btnaction">        
              <a routerLink="/uttarakhand">Details ...</a>
            </div>
        </mat-card>  
      </div>
      <div class="col-md-4" >
        <mat-card class="card card-chart">
          <mat-card-header>
            <mat-card-title>Himachal</mat-card-title>
            <mat-card-subtitle>Manali
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="room icon"></mat-icon>
              <!-- <a href="https://maps.google.com/?addr='28.612894','77.22944'" target="_blank">
              
              </a>-->
            </mat-card-subtitle> 
            
          </mat-card-header>
          <img mat-card-image src="../../assets/images/Himachal/Manali3.jpg" height="350px">
          <mat-card-content>
            <p>
              Situated near the end of valley, Manali is one of the most attractive tourist spot not only of Himachal Pradesh, but of International fame also. Manali is synonymous streams and birdsong, forests and orchards and grandees of snow-capped mountains.
            </p>
          </mat-card-content>      
            <div class="btnaction">        
              <a routerLink="/himachal">Details ...</a>
            </div>
        </mat-card>  
      </div>
    </div>
  </div>
</div>




