mat-grid-tile {
    background: lightblue;
  }

  #introCarousel,
  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
    height: 100vh;
  }

  .carousel-item:nth-child(1) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .carousel-item:nth-child(2) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .carousel-item:nth-child(3) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  /* Height for devices larger than 576px */
  @media (min-width: 992px) {
    #introCarousel {
      margin-top: -58.59px;
    }
  }

  .navbar .nav-link {
    color: #fff !important;
  }

  .homeheader > p{
    font-size: 64px;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 30;
    left: 50;
    padding: 50px;

  }

  
  .info {
    z-index: 100;
    position: absolute;
    font-size: 32px;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 300px;
    

    inf1{
      z-index: 100;
      position: absolute;
      font-size: 24px;
    }
    inf2{
      z-index: 100;
      position: absolute;
      font-size: 16px;
    }
  }
  .mrg{
    margin-top: 20px;
  }